* {
    margin: 0 auto;
    box-sizing: border-box;
    transition: all 1s ease;
    user-select: none;
    touch-action: none;
}
body {
    display: flex;
    flex-direction: column;
    transition: all 3s ease;
}

#main-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.word-row {
    height: fit-content;
    width: fit-content;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
}

.letter-tile {
    border: 2px solid black;
    height: 100;
    width: 100px;
    text-align: center;
    font-size: 40px;
    background: white;

}
#the-number {
    font-size: 100px;
}

.correct {
    background: rgb(1,129,0);
}

.almost {
    background: rgb(255,255,0);
}

#reset {
    height: 5.5vw;
    width: 20vw;
    margin-top: 30px;
}
#answer {
    font-size: 100px;
    text-align: center;
}
img {
    position: absolute;
    top: 200px;
}
#left {
    left: 0px;
}
#right {
    right: 0px;
}

#info {
    margin: 10px;
    padding: 30px;
    position: fixed;
    right: 0px;
    top: 0px;
    cursor: pointer;
    font-size: 1rem;
}

#info-card {
    width: 50vw;
    height: 50vh;
    position: fixed;
    padding: 20px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    overflow: scroll;
    z-index: 1
}

#info-card::before {
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 50%;
    position: fixed;
    content: '';
    top: -25vh;
    left: -25vw;
    

}

#exit-info {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;

}

.virtual-key {
    height: 9vw;
    width: 9vw;
    margin: 3px;
    font-size: 40px;
    text-align: center;
}

#virtual-keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40vh;
    width: 100%;
    display:flex;
    flex-direction: column;
}