* {
    margin: 0 auto;
    box-sizing: border-box;
    transition: all 1s ease;
    user-select: none;
}
body {
    display: flex;
    flex-direction: column;
}

#main-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.word-row {
    height: fit-content;
    width: fit-content;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
}

.letter-tile {
    border: 2px solid black;
    height: 100;
    width: 100px;
    text-align: center;
    font-size: 40px;

}
#the-number {
    font-size: 100px;
}

.correct {
    background: green;
}

.almost {
    background: yellow;
}

#reset {
    height: 5.5vw;
    width: 20vw;
    margin-top: 30px;
}
#answer {
    font-size: 100px;
    text-align: center;
}
img {
    position: absolute;
    top: 200px;
}
#left {
    left: 0px;
}
#right {
    right: 0px;
}

#info {
    margin: 10px;
    padding: 20px;
    position: fixed;
    right: 0px;
    top: 0px;
}

#info-card {
    width: 30vw;
    position: fixed;
    left: 35%;
    top: 25%;
    padding: 20px;
    background: black;
    color: white;
}

#info-card::before {
    height: 100%;
    width: 100%;
    background: black;
    opacity: 50%;
    position: fixed;
    content: '';
    left: 0px;
    top: 0px;

}

#exit-info {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
    
}