* {
    margin: 0 auto;
    box-sizing: border-box;
    transition: all 1s ease;
    user-select: none;
}
body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

#main-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.word-row {
    height: fit-content;
    width: fit-content;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
}

.letter-tile {
    border: 2px solid black;
    height: 100;
    width: 100px;
    text-align: center;
    font-size: 40px;

}
#the-number {
    font-size: 100px;
}

.correct {
    background: green;
}

.almost {
    background: yellow;
}

#reset {
    height: 50px;
    width: 100px;
    margin-top: 30px;
    
}
#answer {
    font-size: 100px;
}